.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 48px;
}

dt {
  text-transform: uppercase;
  margin-bottom: 0;
  /* float: left; */
  /* clear: left; */
}

dt::after {
  content: ": ";
}

dd {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 0;
  margin-bottom: 1rem;
}

.existing-loan {
  padding: 2rem;
}

.proposed-loan {
  display: none;
  background-color: #e0f2f1;
  border: 1px dotted;
  border-color: #009688;
  padding: 2rem;
}
